
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.main-header {
  margin: 0;
}

.main-header-logo {
  text-decoration: none;
  width: 140px;
  height: 56px;
  margin: auto;
}

.main-navigation {
  background-color: transparent;
  font-weight: bold;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-navigation li {
  width: 25%;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:last-of-type {
  text-align: right;
}

.site-navigation li:last-of-type {
  padding-right: 72px;
}

.site-navigation li:first-of-type {
  padding-left: 72px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
 color: #766357;
}

.site-navigation-current a:hover {
 color: #766357;
}

.promo {
  width: 100%;
}

.intro {
  width: 100%;
  align-items:center;
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.intro-speech {
  display: block;
  widht: 459px;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.promo p {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  padding-top: 60px;
  padding-bottom: 30px;
}

.features {
  padding-top: 0;
  padding-bottom: 55px;
}

.features > p {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
  text-align: center;
}

.features-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-list > li {
  margin-top: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  width: 100%;
  display: flex;
  flex-grow: 0;
}

.features-list > li:nth-child(3),
.features-list > li:nth-child(4),
.features-list > li:nth-child(5) {
  background-color: #eeeeee;
  color: #333333;
  width: 33.33%;
  padding: 50px 65px 60px 65px;
}

.features-list > li:first-child {
  order: 0;
}

.features-list > li:nth-child(2) {
  order: 2;
}

.features-list > li:nth-child(3) {
  order: 3;
}

.features-list > li:nth-child(4) {
  order: 4;
}

.features-list > li:nth-child(5) {
  order: 5;
}

.feature-item {
  width: 33.33%;
  margin: 0;
  padding: 0;
}

.feature-image {
  display: block;
  width: 66.67%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.feature-image img {
  margin: 0;
}

.entertainment {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  paddind-bottom: 85px;
  background-color: #ffffff;
  color: #000000;
}

.entertainment > li {
  width: 33.33%;
  margin: 0;
}

.entertainment-item:first-of-type {
  padding-left: 65px;
  padding-right: 65px;
}

.entertainment-item:nth-of-type(2) {
  padding-left: 50px;
  padding-right: 50px;
}

.entertainment-item:last-of-type {
  padding-left: 50px;
  padding-right: 50px;
}


.booking {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.booking b {
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.booking p {
  font-weight: normal;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.booking-form {
  width: 568px;
  margin: 0 auto;
  align-items: center;
  font-size: 14px;
}

.booking-form a {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  background-color: #766357;
}

.booking-form a:hover {
  background-color: #604e43;
}

.booking-form a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-item-input,
.persons-input {
  background-color: #f2f2f2;
  border: none;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 55px;
  align-items: space-between;
}

.form-item-input {
  width: 346px;
  height: 38px;
}

.persons-input,
.quantity-button {
  width: 38px;
  height: 38px;
  margin: 0;
}

.quantity-button {
  background-color: #f2f2f2;
  border: none;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
}

.booking-form input:hover path {
  stroke: #000000;
}

.booking-form input:focus path {
  stroke: #81b3d2;
}

.quantity-button:hover line {
  stroke: #000000;
}

.quantity-button:active line {
  stroke: #81b3d2;
}

.main-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer > p:first-of-type {
  padding: 0;
  margin: 0;
  width: 33.33%;
  font-size: 21px;
  font-weight: bold;
  padding: 50px 120px;
  vertical-align: middle;
}

.main-footer ul {
  padding: 0;
  margin: 0;
  width: 33.33%;
  list-style: none;
  padding: 50px 120px;
  vertical-align: middle;
}

.social-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #81b3d2;
  color: rgba(255, 255, 255, 0.3);
}

.copyright > p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.copyright {
  width: 33.33%;
  display: block;
  padding: 50px 120px;
}

.copyright a:hover {
  stroke: #81b3d2;
}

.copyright a:active {
  stroke: #bdbbbc;
}

.inner-page {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

.inner-page .site-navigation {
  list-style: none;

}

.search-form {
  display: flex;
  width: 1200px;
  height: 217px;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #669ec0;
  padding: 30px 70px;
}

.seach-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.price legend,
.price fieldset {
  text-align: right;
}

.search-form fieldset,
.price fieldset {
  border: none;
}

.filter-input-checkbox:disabled {
  color: #6a6a6a
}

.price {
  padding: 0;
  margin: 0;
}

.price input {
  background-color: transparent;
  border: 2px solid #ffffff;
}

input::placeholder {
  color: #ffffff;
  text-align: center;
}

.search-form button {
  width: 133px;
  height: 32px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.search-form button:hover {
  background-color: #ffffff;
  border: none;
  color: #000000;
  text-align: center;
}

.results {
  padding: 30px 70px;
}

.results h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

.inner-page h3 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  margin-right: 40px;
}

.sorting-type {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-type li {
  display: inline;
  padding: 0;
  margin: 0;
}

.sorting-type a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border-bottom: none;
}

.up-down-sorting {
  list-style: none;
  padding: 0;
  margin: 0;
}

.up-down-sorting li {
  dispalay: inline;
}

.up-down-sorting a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.up-down-sorting a:hover {
  fill: #000000;
}

.up-down-sorting a:active {
  fill: #81b3d2;
}

.hotels-list {
  width: 1200px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 30px 70px;
}

.hotel-card {
  min-height: 151px;
  border-top: 1px solid #f2f2f2;
  margin: 0 0;
}

.hotels-list h3 {
  margin: -1px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.hotels-list h3:hover {
  color: #81b3d2;
}

.hotels-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-price td {
  font-size: 14px;
  text-align: left;
}

.button-info,
.button-booking {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.user-experience p {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  text-align: right;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
