
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  background-color: #ffffff;
  font-weight: bold;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
 color: #766357;
}


.intro {
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.promo p{
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  line-height: 1.24;
}

.features p {
  font-size: 14px;
  text-align: center;
  line-height: 1.86;
}

.features-list {
  list-style: none;
}

.features-list li {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list h3{
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
  background-color: #eeeeee;
  color: #333333;
}

.features-list li:nth-child(6) li {
  list-style: none;
  color: #333333;
  background-color: #ffffff;
}

.features-list li:nth-child(6) {
  background-color: #ffffff;
}

.booking {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.booking b {
  font-size: 30px;
  line-height: 36px;
}

.booking p {
  font-weight: normal;
  line-height: 24px;
}

.booking-form {
  color: #000000;
  font-size: 14px;
  background-color: #ffffff;
}

.booking-form a {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  background-color: #766357;
}

.booking-form a:hover {
  background-color: #604e43;
}

.booking-form a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-item-input,
.persons-input {
  background-color: #f2f2f2;
  border: none;
}


/* stroke="#cacaca" fill="#ffffff"*/


/*.form-item-input {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 21 22;
} */

.quantity-button {
  background-color: #f2f2f2;
  border: none;
}

.button {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.booking-form input:hover {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: #ffffff;
}

.quantity-button:hover line {
  stroke: #000000;
}

.quantity-button:active line {
  stroke: #81b3d2;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p:first-of-type {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
}

.main-footer ul {
  list-style: none;
  text-align: center;
}

.social-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #81b3d2;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer p:last-of-type {
  text-align: right;
}

.copyright a:hover {
  stroke: #81b3d2;
}

.copyright a:active {
  stroke: #bdbbbc;
}

.inner-page {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

.inner-page .site-navigation {
  list-style: none;
}

form {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 768px 512px;
  color: #ffffff;
  background-color: #669ec0;
}

.filter-option {
  list-style: none;
}

.search-form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.price legend,
.price fieldset {
  text-align: right;
}

.search-form fieldset,
.price fieldset {
  border: none;
}

.filter-input-checkbox:disabled {
  color: #6a6a6a
}

.price input {
  background-color: transparent;
  border: 2px solid #ffffff;
}

input::placeholder {
  color: #ffffff;
  text-align: center;
}

.search-form button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.search-form button:hover {
  background-color: #ffffff;
  border: none;
  color: #000000;
  text-align: center;
}

.inner-page h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.inner-page h3 {
  font-size: 12px;
}

.sorting ul {
  list-style: none;
}

.sorting-type a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border-bottom: none;
}

.up-down-sorting a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.up-down-sorting a:hover {
  color: #000000;
}

.up-down-sorting a:active {
  color: #81b3d2;
}

.hotels-list {
  list-style: none;
}

.hotels-list h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.hotels-list h3:hover {
  color: #81b3d2;
}

.hotels-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-price td {
  font-size: 14px;
  text-align: left;
}

.button-info,
.button-booking {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.user-experience p {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  text-align: right;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
