
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.main-header {
  margin: 0;
  position: relative;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 530px;
  text-decoration: none;
  z-index: 1;
}

.main-logo img {
  width: 140px;
  height: 71px;
}

.main-navigation {
  background-color: transparent;
  font-weight: bold;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li {
  width: 25%;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.site-navigation li:nth-of-type(3),
.site-navigation li:last-of-type {
  text-align: right;
}

.site-navigation li:last-of-type {
  padding-right: 72px;
}

.site-navigation li:first-of-type {
  padding-left: 72px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:active {
  color: #766357;
}

.site-navigation-current a {
 color: #766357;
}

.site-navigation-current a:hover {
 color: #766357;
}

.promo {
  width: 100%;
}

.intro {
  position: relative;
  width: 100%;
  height: 510px;
  padding: 0;
  margin: 0;
  align-items:center;
  margin: -2px;
  background-color: #81b3d2;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-position: bottom, center -90px;
  background-repeat: no-repeat;
  background-clip: content-box;
}

.intro img {
  position: absolute;
  width: 459px;
  height: 353px;
  top: 75px;
  left: 370px;
  background-color: transparent;
}

.promo p {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  margin-top: 55px;
  margin-bottom: 30px;
}

.features {
  padding: 0;
  padding-bottom: 55px;
}

.features > p {
  padding: 0;
  width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-list > li {
  padding: 0;
  margin: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  width: 100%;
  display: flex;
  flex-grow: 0;
}

.feature-item {
  width: 33.33%;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 45px 50px 64px;
}

.feature-item:nth-of-type(2){
  padding: 45px 40px 60px;
}

.features-list > li:nth-child(3),
.features-list > li:nth-child(4),
.features-list > li:nth-child(5) {
  background-color: #eeeeee;
  color: #333333;
  flex-grow: 1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;

}

.features-list > li:nth-child(3) {
  width: 208px;
}

.features-list > li:nth-child(4) {
  width: 262px;
}

.features-list > li:nth-child(5) {
  width: 246px;

}

.features-list > li:first-child {
  order: 0;
}

.features-list > li:nth-child(2) {
  order: 2;
}

.features-list > li:nth-child(3) {
  order: 3;
}

.features-list > li:nth-child(4) {
  order: 4;
}

.features-list > li:nth-child(5) {
  order: 5;
}

.feature-image {
  display: block;
  height: 256px;
  width: 66.67%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.feature-image img {
  margin: 0;
}

.entertainment {
  order: 1;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  line-height: 21px;
  padding-top: 60px;
  padding-bottom: 85px;
}

.entertainment > li {
  width: 33.33%;
  margin: 0;
  padding: 0;
}

.entertainment h3 {
  padding: 0;
  margin: 0;
}

.entertainment-item:first-of-type {
  text-align: center;
  padding-left: 60px;
  padding-right: 50px;
}

.entertainment-item:first-of-type h3::before {
  content: url("../img/icon-1.svg");
  weight: 75px;
  height: 72px;
  display: block;
  padding: top;
  margin-bottom: 28px;
}

.entertainment-item:nth-of-type(2) {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.entertainment-item:nth-of-type(2) h3::before {
  content: url("../img/icon-3.svg");
  weight: 74px;
  height: 70px;
  display: block;
  padding: top;
  margin-bottom: 29px;
}

.entertainment-item:last-of-type {
  text-align: center;
  padding-left: 60px;
  padding-right: 50px;
}

.entertainment-item:last-of-type h3::before {
  content: url("../img/icon-2.svg");
  weight: 64px;
  height: 76px;
  display: block;
  padding: top;
  margin-bottom: 24px;
}

.booking {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.booking b {
  font-size: 30px;
  line-height: 1.24;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.booking > p {
  width: 500px;
  font-weight: normal;
  line-height: 1.71;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.booking-form {
  position: relative;
  width: 570px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  font-size: 14px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.booking-form a {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  background-color: #766357;
  width: 100%;
  padding: 30px 138px;
}

.booking-form a:hover {
  background-color: #604e43;
}

.booking-form a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-search {
  position: absolute;
  width: 570px;
  display: flex;
  flex-wrap: wrap;

  padding: 55px;
  margin: 0;

  background-color: #ffffff;
}

.hotel-search p {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.hotel-search p:first-of-type,
.hotel-search p:nth-of-type(2) {
  width: 100%;
  display: flex;
  align-items: center;
}

.hotel-search p:nth-of-type(3),
.hotel-search p:last-of-type {
  width: 50%;
  padding: 0;
}

.form-item {
  width: 121px;
  padding: 0;
  font-weight: bold;
}

.hotel-search p:nth-of-type(3) {
  padding-left: 0;
}

.form-item-input,
.persons-input {
  background-color: #f2f2f2;
  border: none;
}

.form-item-input {
  height: 38px;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding: 14px 0 12px 12px;
  border: 2px solid #f2f2f2;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}


.calendar {
  width: 40px;
  height: 38px;
  padding: 0;
  margin: 0;
  padding: 8px;
  margin-left: -4px;

  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
}

.calendar:hover {
  background-color: #ebebeb;
  color: #a9a9a9;
}

.form-item-input:hover .calendar{
  background-color: #ebebeb;
}


.calendar svg {
  color: #a9a9a9;
}

.persons-input,
.quantity-button {
  width: 38px;
  height: 38px;
  margin-left: -2px;
  margin-right: -2px;
  text-align: center;
  font-weight: bold;
}

.quantity-button {
  background-color: #f2f2f2;
  border: none;
  padding: 0;
}

.quantity-button:first-of-type {
  margin-left: 25px;
}

.button {
  width: 458px;
  height: 58px;
  margin-top: 27px;
  background-color: #81b3d2;
  border: none;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.booking-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.booking-form input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}


.quantity-button:hover line {
  stroke: #000000;
}

.quantity-button:active line {
  stroke: #81b3d2;
}

.booking img {
  margin-top: 86px;
  margin-bottom: -120px;
}

.main-footer {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

.main-footer > p:first-of-type {
  padding: 0;
  margin: 0;
  width: 33.33%;
  font-size: 21px;
  font-weight: bold;
  padding: 50px 100px;
}

.main-footer ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button > svg {
  fill: #FFF;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.copyright {
  width: 33.33%;
  display: flex;
  box-sizing: content-box;
  padding: 0;
}

.copyright > p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding-left: 100px;

  line-height: 14px;
  white-space: nowrap;
}

.copyright svg {
  margin-left: 7px;
  color: #231f20;
}

.copyright svg:hover {
  fill: #81b3d2;
}

.copyright svg:active {
  fill: #bdbbbc;
}

.inner-page {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
}

.inner-page .site-navigation {
  list-style: none;
}

.search-form {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;

  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #669ec0;
  padding: 30px 72px 0 72px;
}

.search-form legend {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
}

.search-form fieldset,
.price fieldset {
  padding: 0;
  border: none;
}

.filter-options {
  list-style: none;
  margin-right: 115px;
}

.filter-option {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.filter-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: space;
  margin-left: -40px;
}

.filter-input-checkbox:checked + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.filter-input-checkbox:disabled + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='#6a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.filter-input-checkbox:checked:disabled + .check-box {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='#6a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='#6a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.price {
  padding: 0;
  margin: 0;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 240px;
}

.price-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: center;
  padding: 0;
  margin: 0;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 160px;
  color: #ffffff;
  padding-left: 60px;
}


.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: transparent;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: -9px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}


.price button {
  display: block;
  width: 133px;
  height: 32px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.price button:hover {
  background-color: #ffffff;
  color: #000000;
}

.results {
  width: 100%;
  display: flex;
  padding: 30px 70px;
  align-items: center;
}

.results h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding: 0;
  margin-right: 45px;
}

.inner-page h3 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;

}

.sorting {
  display: flex;
}

.sorting-type {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 400px;
}

.sorting-type li {
  display: inline;
  padding: 0;
  margin: 0;
  padding-right: 33px;
}

.sorting-type a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

  font-size: 12px;
  line-height: 18px;
}

.sorting-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border-bottom: none;
}

.current-position a {
  text-decoration: none;
  color: #81b3d2;
}



.up-down-sorting {
  display: flex;
  width: 30px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 360px;
  margin-right: 70px;
}

.up-down-sorting li {
  display: inline;
}

.sorting-item svg {
  fill: #cacaca;
}

.sorting-item:hover svg {
  fill: #000000;
}

.sorting-item:active svg {
  fill: #81b3d2;
}

.current-position svg {
  fill: #81b3d2;
}


.hotels-list {
  width: 1200px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hotel-card {
  display: flex;
  border-top: 1px solid #f2f2f2;
  margin: 0 0;
}

.hotel-card:last-of-type {
  border-bottom: 1px solid #f2f2f2;
}

.hotel-card img {
  width: 135px;
  height: 90px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 72px;
}

.hotel-card h3 {
  margin-left: 2px;
  margin-top: 26px;
  margin-bottom: 6px;

  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.hotel-card h3:hover {
  color: #81b3d2;
}

.hotel-card h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-price {
  padding: 0;
  margin: 0;
  border: 0;
}

.hotel-price td {
  width: 125px;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.button-info,
.button-booking {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 3px 17px;
  margin-left: 3px;
  margin-right: 6px;

  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.user-experience {
  margin-left: 450px;
  margin-right: 70px;
}

.stars {
  display: inline-block;
  width: 100px;
  height: 17px;
  background: url("../img/star.svg") repeat-x;
  background-repeat: space;
  background-position: 0 0;
  background-color: transparent;
  margin-top: 28px;
}

.two-stars {
  width: 40px;
  margin-left: 81px;
}

.three-stars {
  width: 60px;
  margin-left: 65px;
}

.four-stars {
  width: 80px;
  margin-left: 50px;
}

.user-experience p {
  padding: 5px 15px;

  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  text-align: right;
}
